name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  # Build backend
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js for Backend
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies for Backend
        run: |
          cd code/backend
          npm install

      - name: Build Backend project
        run: |
          cd code/backend
          npm run build

  # Unit tests for backend
  unit-tests-backend:
    runs-on: ubuntu-latest
    needs: build-backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js for Backend
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies for Backend
        run: |
          cd code/backend
          npm install

      - name: Run backend unit tests
        run: |
          cd code/backend 
          npm run test

  integration-tests-backend:
    runs-on: ubuntu-latest
    needs: unit-tests-backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js for Backend
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies for Backend
        run: |
          cd code/backend
          npm install

      - name: Run integration tests for Backend
        run: |
          cd code/backend
          npm run test:e2e

  # Build and Push Backend Docker Image
  publish-backend:
    runs-on: ubuntu-latest
    needs: integration-tests-backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx for Backend
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry for Backend
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Backend Docker image
        run: |
          docker build -f code/backend/Dockerfile -t ghcr.io/$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]'):backend-latest ./code
          docker push ghcr.io/$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]'):backend-latest

  # Build and Push Frontend Docker Image
  publish-frontend:
    runs-on: ubuntu-latest
    needs: integration-tests-backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx for Frontend
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry for Frontend
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Frontend Docker image
        run: |
          docker build -f code/frontend/Dockerfile -t ghcr.io/$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]'):frontend-latest ./code
          docker push ghcr.io/$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]'):frontend-latest
